@media(max-width:992px) {
    .rightsection {
        text-align: center;
        margin-top: 50px;
    }

    .footer-area .nnn {
        display: none;
    }

    .footer-area .brr {
        border: none;
    }

    .vc-area .slider-area {
        margin-top: 50px;
    }

    .my-card .content-2 {
        justify-content: center;
    }

    .my-card .center-card-1 {
        justify-content: center;
    }

    .my-card .img {
        max-width: 100%;
    }

    .slider-box {
        margin-top: 60px;
    }

    .slider-area {
        margin-left: 0;
    }.firstsection {
        margin-top:50px;
    }.leftsection {
        font-size: 30px;
    }.leftsection .btn {
        padding: 5px;
    }.thin-line {
        margin: 50px 0px;
    }

}

@media(max-width:768px) {
    .navbar-area-2 .img {
        text-align: center;
    }.firstsection {
        margin-top:50px;
    }.my-card .content-1 .img {
        height: 223px;
        width: 100%;
        height: 100%;
    }.vc-area {
        color: grey;
        padding: 2%;
    }

}

@media(max-width:500px) {
    .vc-area .box p {
        font-size: 14px;
    }
  
}