@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;

  color: #c0c0c0;
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
}

body,
ul,
li,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.navbar-area-2 {
  padding: 5px 0px;
}

.navbar-area-2 h1 {
  font-family: "Cinzel";
  color: #c0c0c0;
}

.navbar-area-2 a {
  text-decoration: none;
  list-style: none;
}

.navbar-area-2 .box {
  text-align: center;
  margin-top: 10px;
}

.navbar-area {
  box-shadow: 0px 0px 4px black;
}

.lg {
  background-color: #17264f
}

.cl-mode {
  font-size: 20px;
  padding: 10px;
}

.gg {
  color: #c0c0c0;
  font-size: 20px;
  padding: 10px;
}
.gg:hover{
  color: #fff;
}

.navbar-brand img {
  width: 50%;
}

.navbar-area ul {
  margin-left: 500px;
}

.nav-link {
  padding: 14px;
}

.navbar-collapse {
  justify-content: space-around;
}

.navbar-area ul li {
  margin-right: 10px;
}

.navbar-area ul li a {
  color: #c0c0c0;
  font-size: 18px;
  padding: 0px 25px;

}

.navbar-area .ff {
  font-size: 20px;
}

.navbar-brand {
  font-family: 'Cinzel';
  color: #c0c0c0;
  font-size: 30px;
}

.navbar-brand:hover {
  color: beige;
}

.firstsection {
  margin-top: 150px;

}

.rightsection img {
  max-width: 80%;
}

.slider-box {
  text-align: center;
}

.slider-box .im-1 {
  max-width: 81.9%;
}

.slider-box .im-2 {
  max-width: 80%;
}

.slider-box .im-3 {
  width: 79.6%;
}

.slider-btn {
  display: none;
}

.leftsection {
  color: black;
  font-size: 50px;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftsection .purple {
  color: #04364A;
}

#element {
  color: #04364A;
}

.leftsection .btn {
  border: 1px solid #17264f;
  color: #17264f;

  padding: 10px;
  font-weight: inherit;
  top: 40px;
  left: 128px;
}

.leftsection .btn:hover {
  background-color: #17264f;
  color: #fff !important;
  font-family: 'Poppins';
  transition: all ease 0.3s;
  transform: scale(0.97);
}

.leftsection .btn a {
  text-decoration: none;
  color: black;
}

.leftsection .btn a:hover {
  color: #fff;
}

.information {
  margin-top: 100px;
}

.information .box {
  text-align: center;
  padding: 20px;
}

.br {
  border-top: 1px solid #b1b1b1;
  border-right: 1px solid #b1b1b1;

}



.information .box .ff {
  font-size: 25px;
  margin-top: 30px;
  color: #04364A;
  opacity: 0.90;
}

.information .box .ff:hover {

  opacity: 1;
}

.information .box h6 {
  margin: 20px 0px 20px 0px;
  font-weight: inherit;
  color: #17264f;
}

.promotion h1 {
  color: blue;
  margin-top: 80px;
  margin-left: 34px;
}

.promotion .img {
  width: 100%;
  height: 489px;
  background-image: url(images/bg1.webp);
  background-repeat: no-repeat;
  background-size: cover;


}

.promotion .img .btn {
  border: #17264f;
  color: #17264f;
  margin: 10px 0px 0px 34px;


}


.heading {
  text-align: center;
  margin: 25px 0px 100px 0px;
}

.thin-line {
  margin: 145px 0px 100px 0px;
  background: #17264f;
}

.thin-line .box {
  text-align: center;
}

.thin-line .box h4 {
  font-family: "Cinzel";
  font-size: 40px;
  padding: 20px;
  color: #c0c0c0 !important;
}



.gallery-1 .box {
  color: white;
  border-radius: 30px;
  margin-bottom: 50px;
  transition: all ease 0.5s;

}

/* .gallery-1 .box:hover {
  transform: scale(0.1);

} */

.gallery-1 h4 {
  color: #c0c0c0;
  font-size: 30px;
  font-weight: bolder;
  padding: 30px;
  display: inline-block;
}

.gallery-1 h6 {
  color: #c0c0c0;
  padding: 30px;
}

.gallery-1 .card {
  min-height: 360px;
}


.vc-area {
  color: grey;
}

.vc-area .box p {
  line-height: 30px;
  font-size: 18px;
}

.video-area {
  border-radius: 10px;
}

.vc-center {
  justify-content: center;
  align-items: center;
}

.vc-area .box-2 {
  display: flex;
  justify-content: center;
}

.vc-area .btn {
  color: #c0c0c0;
  border: 1px solid #c0c0c0;
  padding: 10px;
  font-weight: inherit;
  margin-left: 20px;
  margin-top: 20px;
}

.slider-area {
  margin-left: 50px;
  margin-bottom: 70px;
}

.slider-area img {
  border-radius: 5%;
}


.my-card .content-1 {
  margin-bottom: 20px;
  padding: 5px 15px;
  border-radius: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.my-card .content-1 .img {
  background: #17264f;
  width: 30%;
  padding: 6px;
  border-radius: 12px;
}

.my-card .content-1 img {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 2px solid #c0c0c0;
  object-fit: cover;

}

section.my-card {
  text-align: center;
}
.my-card .content-1 .card-info {
  margin-left: 20px;
}

.my-card h4 {
  color: #17264f;
  margin-bottom: 30px;
  font-weight: 600;
}

.my-card .content-1 h5 {
  font-size: 18px;
  margin-top: 5px;
}

.my-card .content-1 p {
  margin-top: 6px;
  font-size: 15px;

}

.my-card .content-1 .card-btn {
  background-color: #17264f;

  color: #c0c0c0;
  padding: 8px 10px;
  border: 1px solid #c0c0c0;
  border-radius: 8px;
}

.my-card .content-1 .ff-icon {
  color: #adb0b1;
  margin-right: 5px;
  opacity: 0.7;
}

.my-card .content-1 .media-icons-1 {
  text-align: end;
}

.my-card .content-1 .ff-icon:hover {
  opacity: 1;
  color: #c0c0c0;
  cursor: pointer;

}

.my-card .card-btn:hover {
  background-color: #c0c0c0;
  color: #17264f;
  transform: scale(0.97);
}

.my-card .content-2 {
  justify-content: end;
}

.second-head {
  text-align: center;
  margin-bottom: 100px;
}

.second-head h1 {
  color: black;
  font-family: 'Cinzel';
  font-weight: 600;
}

.second-head p {
  margin-top: 30px;
  height: 1px;
  background: grey;
}

.footer-area {
  background: #17264f;
}

.footer-area h1 {
  font-family: "Cinzel";
}

.footer-area .center-2 {
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.footer-area .box {
  text-align: center;
  padding: 20px;
}

.footer-area ul li {
  display: inline-block;
  padding: 10px;
}

.footer-area ul li a {
  color: grey;
  text-decoration: none;
}

.footer-area h3 {
  color: grey;
  font-size: 18px;
}

.footer-area .brr {
  border-left: 1px solid #565353;
}

.hover-up-button {
  padding: 10px 20px;
  transition: transform 0.3s ease;
}

.hover-up-button:hover {
  transform: translateY(-10px);
}

.gallery-1 .card {
  width: 100% !important;
  border: none;
 transition: 0.25s ease;
 box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.gallery-1 .card:hover{
  transform: translate(0px, -10px)
}

.gallery-1 .card .btn-project {
  /* background-color: #17264f; */
  /* color: #fff; */
  border: 1px solid #17264f;
  color: #17264f;
}
.gallery-1 .card .btn-project:hover{
  background-color: #17264f;
   color: #fff;
 
}
.title-about {
  color: rgb(23, 38, 79);
  margin-bottom: 20px;
  font-family: 'Cinzel';
  font-weight: 600;
}
